.main {
  width: 100%;
  padding: 0 40px;
}
.content {
  width: 100%;
  background-color: rgb(224, 224, 224);
  padding: 0 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
.header > div {
  display: flex;
  justify-content: center;
}
.basicform {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 0px 5px;
  position: relative;
}
.formlayout-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  gap: 2px;
}
.formlayout-down {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.formlayout-down > div {
  width: 100%;
  display: flex;
  padding: 1px 5px;
}
.remarks-field {
  width: 80%;
  height: 65px;
  resize: none;
  padding: 5px;
}
.basic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px dotted;
  margin-top: 2px;
  padding-top: 2px;
}
.recovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  gap: 10px;
  background-color: rgb(122, 92, 92);
  border-radius: 10px;
  color: white;
}
.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 20px;
}
.arrow-icon {
  background-color: gray;
  width: 40px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 

.scheduleTab {
  position: absolute;
  left: 5px;
  display: flex;

  gap: 20px;
  background-color: hsl(0, 0%, 80%);
  left:10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}
.scheduleTab1 {
  background-color: white;
  /* padding-left: 2px; */
  /* padding-right: 2px; */
  /* margin-top: 2px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  width: 50%;
  text-align: center;

}
